:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Global Colors */
  --brand-primary: #ffc457;
  --brand-primary-light: #fff7e8;
  --brand-primary-dark: #ffae17;
  --brand-primary-extradark: #946000;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#root {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}

body {
  margin: 0;
}

p {
  margin-bottom: 0.2rem;
  color: var(--brand-primary-extradark);
  font-size: 0.8rem;
  font-style: italic;
  text-align: center;
}

button {
  border-radius: 2rem;
  border: 1px solid black;
  padding: 0.6em 4em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--brand-primary);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--brand-primary-extradark);
}
button:focus,
button:focus-visible {
  outline: 4px auto var(--brand-primary-extradark);
}